:root {
  --lightYellow: rgb(248, 198, 82);
  --yellow: rgb(255, 184, 20);
  --orange: rgb(255, 96, 43);
  --pink: rgb(255, 63, 102);
  --black: rgb(23, 23, 23);
}

head,
body {
  background-color: rgb(23, 23, 23);
  font-weight: lighter;
}

body.no-scroll {
  overflow: hidden;
}

a {
  border-width: 2px 0 !important;
  border-color: transparent transparent var(--lightYellow) transparent !important;
  border-style: solid !important;
  padding: 0.1rem 0 0.3rem 0 !important;
}
a,
.hoverable {
  transition: background-color 0.2s ease-out, color 0.2s ease-out,
    transform 0.2s ease-out;
}
a:hover,
.hoverable:hover {
  background-color: var(--lightYellow);
  color: var(--black);
}

.hoverable:not(a) {
  padding: 0.5rem !important;
}

.hoverable-alternative {
  transition: transform 0.2s ease-in-out;
}
.hoverable-alternative:hover {
  transform: scale(1.1);
}

.mobile-nav a,
.desktop-nav a {
  border: none !important;
}
.mobile-nav a:hover,
.desktop-nav a:hover {
  transform: scale(1.05);
  background-color: transparent;
}

.mobile-nav {
  position: fixed !important;
  top: 0;
  bottom: 0;
  z-index: 3;

  transition: all 0.25s ease-out;
}
.mobile-nav.closed {
  margin-left: -280px;
  transform: translateX(-280px);
  opacity: 0;
  visibility: hidden;
}
.mobile-nav.open {
  margin-left: 0;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.program-panel {
  position: fixed !important;
  bottom: 0;
  top: 74px;
  right: 0;
  z-index: 2;

  transition: all 0.25s ease-out;
}
.program-panel.closed {
  transform: translateX(500px);
  visibility: hidden;
}
.program-panel.open {
  transform: translateX(0);
  visibility: visible;
}

.shake:hover,
.shake:focus {
  cursor: default;
  animation-name: shaking;
  animation-duration: 3s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

*:focus {
  outline: var(--pink) solid 1px !important;
  box-shadow: none !important;
}

@keyframes shaking {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(2px, 1px) rotate(0deg);
  }
}
/* Internet Explorer fixes */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .s.c > .s {
    flex-basis: auto !important;
  }
}
