:root {
  --pink: rgb(255, 182, 193);
  --pinkLight: rgb(233, 141, 155);
  --pinkLighter: rgba(233, 141, 155, 0.5);
}

head,
body {
  background-color: rgb(21, 21, 21);
  font-weight: lighter;
}

a {
  border-bottom: 4px solid var(--pinkLight) !important;
  padding: 0.25rem !important;
}

.hoverable {
  transition: background-color 0.2s ease-out;
}
.hoverable:not(a) {
  padding: 0.5rem !important;
}
.hoverable:hover {
  background-color: var(--pinkLighter);
}

.hoverable-alternative {
  transition: transform 0.2s ease-in-out;
}
.hoverable-alternative:hover {
  transform: scale(1.1);
}

*:focus {
  outline: 3px #9bcbff solid !important;
}

.position-sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
}

nav {
  position: fixed !important;
  top: 0;
  bottom: 0;
  z-index: 3;

  transition: all 0.25s ease-out;
}
nav.closed {
  margin-left: -300px;
  transform: translateX(-300px);
  opacity: 0;
  visibility: hidden;
}
nav.open {
  margin-left: 0;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.dimmable {
  transition: opacity 0.2s ease-in-out;
}

.shake:hover,
.shake:focus {
  cursor: default;
  animation-name: shaking;
  animation-duration: 3s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shaking {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(2px, 1px) rotate(0deg);
  }
}
